@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
.form-register   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: white;
  color: #fff;
  border: 5px solid var(--secondary-color);
}


.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  
  align-items: center;
  text-align: center;
 
}
.link-login{
  padding-left: 5.5rem;
  text-decoration: none;
}
.form-label{
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.box-link{
  display: flex;
  justify-content: center;
}
.redirect-link{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
