.form-register   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #a69ee9;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
