.idCell {
	width: 17vh;
	text-align: center;
}
.productImg {
	height: 6vh;
	width: 6vh;
	aspect-ratio: 1;
	object-fit: cover;
}

.customCellText {
	max-height: calc(1.2em * 3);
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
