@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
.Footer{
    padding: 2rem 0;
}
.foot-1 h3{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.foot-1 span{
    font-weight: 800;
    color: var(--primary-color);
    font-size: var(--title-font-size);
}
.footer-icons .icons{
    color: var(--primary-color);
    border-radius: 50%;
}
.Footer h5{
    color: var(--primary-color);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.Foot-3 .icons{
    color: var(--primary-color);
    border-radius: 50%;
    font-size: var(--subtitle-font-size);
}