@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
.Footer{
    padding: 2rem 0;
}
.Footer-container{
    border-top: 2px solid var(--primary-color);
}
.foot-1 h3{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.foot-1 span{
    font-weight: 800;
    color: var(--primary-color);
    font-size: var(--title-font-size);
}
.footer-icons .icons{
    color: var(--primary-color);
    border-radius: 50%;
}
.Footer h5{
    color: var(--primary-color);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.Foot-3 .icons{
    color: var(--primary-color);
    border-radius: 50%;
    font-size: var(--subtitle-font-size);
}

.foot-1 .icons:hover{
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: 0.5s ease-in-out;
    background: var(--primary-color);
    color: white;
}
.foot-2 ul .nav-item .nav-link:hover{
    cursor: pointer;
    color: var(--accent-color) !important;
    transition: 0.2s ease-in-out;
    font-weight: bold;
}