/* body{
    background: rgb(60, 69, 80);
} */

/* .frame {
    border-radius: 100px;
} */

/* .mainFrame {
    box-shadow: 10px 10px 18px -10px var(--color-shadow);
} */
/* body {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.171),
      hsla(199, 100%, 95%, 0.253)
     ),  
     url('https://image.cdn2.seaart.ai/2023-10-04/18913273638331397/ef389b8e187891129d9d7ee8868f7080cf6152a9_high.webp');
    opacity: 97%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */
.frame__row {
	font-family: var(--main-font);
	font-size: 3vh;
	font-weight: 900;
	/* margin: 3vw; */
	margin-top: 5vh;
}
.frame__leftBlock {
	background-color: rgb(34, 34, 34);
	height: 100%;
	width: 100%;
	/* min-height: 90%; */
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 0;
}
.leftBlock {
	/* min-height: 50vh; */
	background: rgb(34, 34, 34) !important;
}
.frame__rightBlock {
	/* min-height: 90%; */
	background-color: rgb(226, 226, 231);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0;
	width: 100%;
}
.rightBlock_1 {
	display: flex;
	align-items: center;
	background-color: gray;
	border-top-right-radius: 10px;
	height: auto;
	background-color: rgb(243, 243, 243);
}
.rightBlock_2 {
	/* min-height: 100vh; */
}
.adminLoggedImg {
	height: 6vh;
	width: 6vh;
	aspect-ratio: 1;
	object-fit:cover;
}
.addIcon {
	font-size: 3.5vh;
	padding: 0;
	margin: 0;
}
.orderIcon {
	font-size: 2.5vh;
	padding: 0;
	margin: 0;
}
.prueba {
	align-items: center;
}