/* body{
    background: rgb(60, 69, 80);
} */

/* .frame {
    border-radius: 100px;
} */

/* .mainFrame {
    box-shadow: 10px 10px 18px -10px var(--color-shadow);
} */
.frame__row {
    font-family: var(--main-font);
    font-size: 3vh;
    font-weight:900;
    /* margin: 3vw; */
    margin-top: 5vh;
}
.frame__leftBlock {
    background-color: rgb(34, 34, 34);
    min-height: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;
}
.leftBlock {
    /* min-height: 50vh; */
    background: rgb(34, 34, 34)!important;
    
}
.frame__rightBlock {
    min-height: 90%;
    background-color: rgb(226, 226, 231);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
}
.rightBlock_1 {
    display: flex;
    align-items: center;
    background-color: gray;
    border-top-right-radius: 10px;
    height: auto;
    background-color: rgb(243, 243, 243);
}
.rightBlock_2 {
    min-height: 90vh;
}
.adminLogged {
    height: 6vh;
}