.nav-filter {
    border-radius: 20px; /* Establece bordes redondeados */
    padding: 10px 20px; /* Añade espaciado interno */
  }
  
  .nav-filter .navbar-brand {
    margin-right: 20px; /* Espacio entre el logo y los demás elementos */
  }
  
  .nav-filter .form-inline .form-control {
    margin-right: 10px; /* Espacio entre el campo de búsqueda y el botón */
  }
  
  .nav-filter .btn {
    margin-right: 10px; /* Espacio entre los botones */
  }
.form-search{
    margin: 0 10px 10px 0;
}
.btn-search{
    margin: 10px 0 0 0 ;
}
.logo-filter img{
    width: 50px;
}
.logo-filter{
   margin-left: 100px;
}
.logoName-filter{
    font-family: "Montserrat", sans-serif;
    font-size: var(--title-font-size);
    
    color: var(--secondary-font-color);
}