.product-row {
    display: flex;
    justify-content: space-evenly
}

.camiseta {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

.btn-container {
    justify-content: space-around;
}

.card-products {
    background-color: var(--primary-color);
}

.nav-filter {
    display: flex;
    justify-content: center;
    flex-direction: row;
}